{% extends "base.html" %}
{% load static %}
{% block title %}{{ barang.nama }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylebarang.css' %}" />{% endblock %}
{% block main_content %}

<div class="row text-muted mt-5">
    <div class="col-lg-6 text-center mb-5">
        <img src="{% static 'sepatu.png' %}" alt="">
        <p>{{ barang.kategori }}</p>
    </div>
    <div class="col-lg-6 mb-5">
        <h1 class="namabarang" id="{{barang.nama}}">{{ barang.nama }}</h1><br>
        <h4><b>Rp{{ barang.harga }}</b></h4>
        <p style="font-size: larger;">Stok yang tersedia: {{ barang.stok }}</p>
        <br>
        <p>Deskripsi barang:</p>
        <p>{{ barang.deskripsi }}</p>
        <div class="mt-5">
            {% if request.user.is_authenticated %}
            <!-- <a class="btn btn-modified" href="{% url 'advisTransaksi:hasil' barang.id %}" role="button">Buy</a> -->
            <button class="btn btn-modified" id="cart" role="button">Add to Cart <img
                    src="{% static 'cart-white.svg' %}"></button>
            <a class="btn btn-modified" href="{% url 'ulasan:crud_ajax' barang.nama %}" role="button">See Reviews</i></a>
            <a class="btn btn-modified" href="{% url 'advisTransaksi:hasil' barang.id %}" role="button">Buy</a>
            {% else %}
            <a class="btn btn-modified" href="{% url 'advisTransaksi:hasil' barang.id %}" role="button">Buy</a>
            {% endif %}

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'addkeranjang.js' %}"></script>
{% endblock %}