h1 {
    font-family: 'Pacifico', cursive;
}

h1.title {
    font-family: 'Abril Fatface', cursive;
}

h1.ohno {
    font-family: 'Permanent Marker', cursive;
    color: red;
}

.button {
    color: black;
}

.button:hover{
    color: #FFE03F;
}