{% extends "base.html" %}
{% load static %}
{% block title %}Shopping Cart{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'keranjangstyle.css' %}" />{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-lg-7 col-lg-7 col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">@Price (Rp)</th>
                    <th scope="col">Quantity</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for qs in keranjang %}
                {% for barang in qs.isi_keranjang.all %}
                <tr id="{{barang}}">
                    <td></td>
                    <td>{{barang}}</td>
                    <td class="harga-barang">{{barang.harga}}</td>
                    <td class="kuantitas_{{barang}} row" id="{{barang.kuantitas}}">
                        <div class="col-2 kuantitas">
                            {{barang.kuantitas}}
                        </div>


                        <div class="col-9">
                            <button style="width: 40px; height: 40px;" class="btn btn-warning tambah"
                                role="button">+</button>
                            <button style="width: 40px; height: 40px;" class="btn btn-warning kurang"
                                role="button">-</button>
                        </div>

                    </td>
                    <td><button class="btn buang"><img src="{% static 'trashcan.svg' %}"></button></td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="container">
            <h1>
                <div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Your total price is shown below</h5>

                            <p class="card-text">Rp
                                {% for qs in keranjang %}
                                <span id="iniharga">{{qs.total_harga}}</span>
                                {% if qs.kupon_used is not none %}
                                <br>
                            <h6>Transaksi anda kini menggunakan kupon {{qs.kupon_used.kode}} dengan potongan sebesar
                                {{qs.kupon_used.persen}}
                                persen</h6>
                            <p hidden="true" class="jumlahpersen">{{qs.kupon_used.persen}}</p>
                            {% else %}
                            <p hidden="true" class="jumlahpersen">0</p>
                            {% endif %}
                            {% endfor %}

                            </p>
                            <!-- {% for qs in keranjang %}
                            <div>
                                <h4 style="display: inline;">Total Belanja Anda Adalah : Rp </h4>
                                <h4 id="iniharga" style="display: inline;">{{qs.total_harga}}</h4>
                                {% if qs.kupon_used is not none %}
                                <br>
                                <h6>Transaksi anda kini menggunakan kupon {{qs.kupon_used.kode}} dengan potongan sebesar
                                    {{qs.kupon_used.persen}}
                                    persen</h6>
                                <p hidden="true" class="jumlahpersen">{{qs.kupon_used.persen}}</p>
                                {% else %}
                                <p hidden="true" class="jumlahpersen">0</p>
                                {% endif %}
                            </div>
                            <br>
                            {% endfor %} -->
                            <button class="btn btn-apalah beli" role="button">Beli</button>
                            <p id="notifikasi"></p>
                        </div>
                    </div>
                </div>
                <br>
            </h1>
        </div>

        {% if request.user.is_authenticated %}
        <div class="container carikupon" style="margin-bottom: 4rem;">
            <form method="POST" action="/cart/">
                {% csrf_token %}
                <div class="form-group">
                    <label for="formGroupExampleInput">Use Your Coupon</label>
                    <input type="text" class="form-control inputankupon" placeholder="cari kupon..." name="srh">
                </div>
                <input class="btn btn-apalah cari-persen" type="submit" value="Cari Berdasarkan Persen" name="tipecari">
                <input class="btn btn-apalah cari-nama" type="submit" value="Cari Berdasarkan Nama" name="tipecari">
            </form>

            <!-- <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="Nama-Pembeli" placeholder="Masukkan Nama" style="width: 30 vw;">
        <input type="text" name="Kupon" placeholder="MasukkanKupon (boleh kosong)" style="width: 30 vw;">
        <input type="submit" value="Beli">
    </form> -->

        </div>
        {% endif %}


        {% if srch %}
        <form class="card" action="/cart/" method="POST">
            <div class="card-header">
                <p><b>Please select your coupon:</b></p>
                <p>(only 1 coupon for 1 transaction)</p>
            </div>
            <div class="card-body">
                <div class="card-text"></div>
                {% for hasil_search in srch %}
                <input type="radio" id="{{hasil_search.kode}}" name="selected" value="{{hasil_search.kode}}"
                    class="selected">
                <label for="{{hasil_search.kode}}">Nama = {{hasil_search.kode}}, Discount = {{hasil_search.persen}}
                    %</label><br>
                {% endfor %}
                <input class="mt-1 btn btn-apalah tambahkupon" hidden="true" value="Tambahkan kupon" type="submit">
            </div>
    </div>
    </form>
    {% endif %}
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'keranjang.js' %}"></script>
{% endblock %}