<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- My CSS -->
    <!-- Extra Fonts and Icon -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ULASAN</title>
    <style>
      * {
        font-family: Poppins;
      }
      .container {
        padding-top: 10vh;
        padding:4em;
      }
      .col-md-4 {
        padding-top: 1vh;
      }
      .btn-brown {
        color: #fff;
        background-color: #5C432C;
        border-color: #5C432C;
        font-size: 15px;
      }
      .btn-brown:hover {
        color: #ffff;
      }
      #ulasanTable {
        margin-top: 2vh;
      }
      #col-name {
        text-align: center;
      }
      #col-review {
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="row">
          <div class="col-md-4 ">
            <button type="button" class="btn btn-brown" onclick="goBack()"><i class="fa fa-arrow-circle-left"></i> Item Details</button>
            <p></p>
            <form id="addUlasan" action="">
              <div class="form-group">
                <textarea class="form-control" name="ulasan" rows="10" placeholder="Tulislah ulasan anda disini" required></textarea>
              </div>
              <button class="btn btn-warning form-control" name="submit-btn" type="submit" style="color: #5C432C; font-weight: bold;">Add new review!</button>
            </form>
          </div>
          <div class="col-md-8">
            <h2 id="judul" style="color: #5C432C;">Ulasan untuk <span style="color: #ffcc5c; font-size: larger;">{{ barang }}</span></h2>
            <table id="ulasanTable" class="table">
              <tr>
                <th class="text-center" width="150">PENGULAS</th>
                <th>ULASAN</th>
                <th width="80"></th> 
              </tr>
                {% for data in ulasan %}
                  {% if data.nama_barang == barang %}
                    <tr id="ulasan-{{data.id}}">
                        <td class="table-data" name="pengulasData" id="col-name">{{data.pengulas.username}}</td>
                        <td class="table-data" name="ulasanData" id="col-review">{{data.ulasan}}</td>
                        {% if data.pengulas.username == user.username %}
                          <td align="center">
                            <button class="btn btn-danger form-control" name="delete-btn" onClick="deleteUlasan({{data.id}})"><i class="fa fa-trash"></i></button>
                          </td>
                        {% endif %}
                    </tr>
                  {% endif %}
                {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script>
            $("form#addUlasan").submit(function() {
                var ulasanInput = $('textarea[name="ulasan"]').val().trim();
                var pathname = window.location.pathname;
                var pathArray = pathname.split('/');
                var namaBarang = pathArray[2];
                var namaDecoded = decodeURI(namaBarang);

                if (ulasanInput) {
                    // Create Ajax Call
                    $.ajax({
                        url: "/ulasan/ajax/crud/create/", 
                        data: {
                            'ulasan': ulasanInput,
                            'nama_barang': namaDecoded,
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.ulasan) {
                              appendToUsrTable(data.ulasan);
                            }
                        }
                    });
                  } else {
                    alert("Kolom ini harus diisi!");
                }
                $('form#addUlasan').trigger("reset");
                return false;
            });

            function appendToUsrTable(ulasan) {
              $("#ulasanTable > tbody:last-child").append(`
                    <tr id="ulasan-${ulasan.id}">
                        <td class="table-data" name="pengulasData" id="col-name">${ulasan.pengulas}</td>
                        <td class="table-data" name="ulasanData" id="col-review">${ulasan.ulasan}</td>
                        `
                        + (ulasan.pengulas == ulasan.userLoggedIn ? 
                        `<td align="center"><button class="btn btn-danger form-control" name="delete-btn" onClick="deleteUlasan(${ulasan.id})"><i class="fa fa-trash"></i></button></td>)`
                        : ``)
                        + `
                    </tr>
              `);
            }

            // Delete Ajax Call
            function deleteUlasan(id) {
              var action = confirm("Hapus ulasan ini?");
              if (action != false) {
                $.ajax({
                    url: "/ulasan/ajax/crud/delete/",
                    data: {
                        'id': id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.deleted) {
                          $("#ulasanTable #ulasan-" + id).remove();
                        }
                    }
                });
              }
            }

            // Go back to item detail page
            function goBack() {
              window.history.back();
            }
    </script>
  </body>
</html>