<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<html>

<head>
    <title>Login To Your Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <img class="wave" src="{% static 'img/wave.svg' %}">
    <div class="container">
        <div class="img">
            <img src="{% static 'img/celeb.svg' %}">
        </div>
        <div class="login-content">
            <form action="" method="POST" class="posted">
                {% csrf_token %}
                <img src="{% static 'img/avatar.svg' %}">
                <h2 class="title">Log In</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input type="text" name="username" class="input" placeholder="Username" required>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <input type="password" name="password" class="input" placeholder="Password" required>
                    </div>
                </div>
                {{ form.errors }}
                <a href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i></a>
                <a href="{% url 'login:register' %}" id="signup">Sign Up Now</a>
                <input type="submit" class="btn" value="Log In" name="login">
            </form>
        </div>
    </div>
</body>

</html>