<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Register Your Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <img class="wave" src="{% static 'img/wave.svg' %}">
    <div class="container">
        <div class="img">
            <img src="{% static 'img/bg.svg' %}">
        </div>
        <div class="login-content">
            <form action="" method="POST" class="posted">
                {% csrf_token %}
                <img src="{% static 'img/avatar.svg' %}">
                <h2 class="title">Register</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input type="text" name="username" class="input" placeholder="username" required>
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="div">
                        <input type="text" name="firstname" class="input" placeholder="First Name" required>
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="div">
                        <input type="text" name="lastname" class="input" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <input type="email" name="email" id="email" class="input" placeholder="email" required>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <input type="password" name="password" id="password" class="input" placeholder="password" required>
                    </div>
                </div>
                {{ form.errors }}
                <a href="{% url 'login:login-page' %}" id="signin">Already have an account?</a>
                <input type="submit" class="btn" value="Sign Up" name="signup">
            </form>
        </div>
    </div>
</body>

</html>