.btn-apalah {
    color: white;
    border-color: #5C432C;
    background-color: #5C432C;
}

.carikupon .btn {
    font-size: smaller;
}

.btn.focus {
    outline: 0;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(255, 51, 0, 0)
  }

  
.btn:hover {
  color: white;
  text-decoration: none;
}