img {
    max-height: 200px;
}


.btn-modified {
    color: #fff;
    background-color: #5C432C;
    border-color: #5C432C;
    font-size: 15px;
  }
  
  .btn-modified:hover {
    color: #FFE03F;
    background-color: #5C432C;
    border-color: rgb(92, 67, 44);
  }
  
  .btn-modified:focus, .btn-modified.focus {
    box-shadow: 0 0 0 0.2rem rgba((92, 67, 44, 0.5));
  }
  
  .btn-modified.disabled, .btn-modified:disabled {
    color: #fff;
    background-color: #5C432C;
    border-color: #5C432C;
  }
  
  .btn-modified:not(:disabled):not(.disabled):active, .btn-modified:not(:disabled):not(.disabled).active,
  .show > .btn-modified.dropdown-toggle {
    color: #fff;
    background-color: #5C432C;
    border-color: #5C432C;
  }
  
  .btn-modified:not(:disabled):not(.disabled):active:focus, .btn-modified:not(:disabled):not(.disabled).active:focus,
  .show > .btn-modified.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba((92, 67, 44, 0.5));
  }

  