<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="{% static 'stylenavbar.css' %}"> -->
    <title>{% block title %}TWAAN{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'TK1_Bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'stylemaincontent.css' %}">
    {% block additional_css %}{% endblock %}
</head>

<body>
    {% include 'navbar.html' %}
    <div class="main-content">
        {% block main_content %}
        {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
<footer>
    {% include 'footer.html' %}
</footer>

</html>