{% load static %}
<footer class="footer">
    <div class="container">
        <hr>
        <div class="row pl-4">
            <div class="col-lg-5 col-md-5 col-sm-12 mb-4 text-muted">
                <div class="row ml-1">
                    <h4>follow us on</h4>
                </div>
                <div class="row ml-1">
                    <img class="mr-3" width="30px" height="30px" src="{% static 'ig.png' %}" alt="" srcset="">
                    <img class="mr-3" width="30px" height="30px" src="{% static 'twitter.png' %}" alt="" srcset="">
                    <img class="mr-3" width="30px" height="30px" src="{% static 'fb.png' %}" alt="" srcset="">
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-muted">
                <h4>more about us</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
            </div>
        </div>

    </div>
</footer>