{% load static %}
<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="/"><b><i>TWAAN</i></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ml-5 mr-3"><a href="/" class="nav-link">home</a></li>
            <li class="nav-item ml-3 mr-3"><a href="/kategori" class="nav-link">category</a>
                {% if request.user.is_authenticated %}
            <li class="nav-item ml-3 mr-3"><a id="auth" class="nav-link" href="{% url 'login:logout-page' %}">logout
                    <span style="font-size: 0.75rem;">({{request.user}})</span></a></li>
            {% else %}
            <li class="nav-item ml-3 mr-3"><a id="auth" class="nav-link" href="{% url 'login:login-page' %}">login</a>
            </li>
            {% endif %}
            </li>
        </ul>
        {% if request.user.is_authenticated %}
        <a href="{% url 'keranjang:keranjang'%}">
            <img src="{% static 'cart.svg' %}" height="45x" style="margin-right: 1rem;">
        </a>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" action="/search/" method="POST">
            {% csrf_token %}
            <input class="form-control mr-sm-2" id="searchbar" type="search" name="srh"
                placeholder="search a coupon...">
            <input type="submit" value="search" class="btn btn-outline-modified my-2 my-sm-0">
        </form>
    </div>
</nav>