{% extends "base.html" %}
<!DOCTYPE html>
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylekupon.css' %}">
{% endblock %}
{% block main_content %}
{% csrf_token %}
<br>
{% if srch|length != 0 %}
<div class="wrapper">
  {% for x in srch %}
  <div class="box-isi">
    <div class="atasan"><b>$$$$$</b></div>
    {% csrf_token %}
    <!-- <p><b>Coupon Name: </b>{{ x.kode }}</p> -->
    <p class="stripes"><b>{{ x.persen }}% Discount</b></p>
    <!-- <p><b>Valid Until: </b>{{ x.waktu }}</p>
                <p><b>Minimum Payment: </b>{{ x.minimum }}</p> -->
    <div class="container">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detail</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><b>CODE :</b>{{ x.kode }}</h4>
            </div>
            <div class="modal-body">
              <p><b>Valid Until: </b>{{ x.waktu }}</p>
              <p><b>Minimum Payment: </b>{{ x.minimum }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="box-isi">
  <h1>NO RESULT FOUND</h1>
</div>
{% endif %}
{% endblock %}