.wrapper {
    display: inline-block;
}
.box-isi {
    display: inline-block;
    margin-top: 70px;
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 240px;
    border-style: dashed;
}

.box-isi .atasan {
    background-color: yellow;
    height: 20px;
}

.box-isi .atasan b {
    font-weight: 700;
    float: left;
}
.stripes {
    background-color: rgb(218, 213, 213);
    width: 70%;
    margin-top: 10px;
    margin-left: 35px;
}

.stripes:hover {
    color: white;
    background-color: black;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 5px;
    background-color: black;
}

.btn-group-lg>.btn, .btn-lg:hover {
    color: black;
    background-color:yellow;
}

.modal-footer {
    background-color: yellow;
}