{% extends "base.html" %}
{% load static %}
{% block title %}{{ barang.nama }}{% endblock %}
{% block main_content %}

<div class="container" style="margin-bottom: 4rem;">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="formGroupExampleInput">Nama Pembeli</label>
          <input type="text" class="form-control" name="Nama-Pembeli" placeholder="Masukkan Nama">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Kupon Belanja</label>
          <input type="text" class="form-control" name="Kupon" placeholder="Masukkan Kupon (boleh kosong)">
        </div>
        {% if request.user.is_authenticated %}
        <input class="btn btn-primary" type="submit" value="Beli {{ namaBarang }}">
        {% else %}
        <a href="{% url 'login:login-page' %}">Harap Login Terlebih Dahulu Untuk Melakukan Pembelian</a>
        {% endif %}
    </form>

    <!-- <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="Nama-Pembeli" placeholder="Masukkan Nama" style="width: 30 vw;">
        <input type="text" name="Kupon" placeholder="MasukkanKupon (boleh kosong)" style="width: 30 vw;">
        <input type="submit" value="Beli">
    </form> -->

</div>

    {% if stringKosong %}
    <div class="container" style="margin-bottom: 2rem;">
        <h2>{{ stringKosong }}</h2>
    </div>
    {% endif %}

{% if request.user.is_authenticated %}
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr class="text-centered">
            <th>Nama Pembeli</th>
            <th>Nama Barang</th>
            <th>Jumlah Pembelian</th>
            <th>Tanggal Beli</th>
            <th>Jenis Kupon Dipakai</th>
        </tr>
        </thead>
        <tbody>
            {% for x in isinya %}
            <tr>
                <td>{{x.namaPembeli}}</td>
                <td>{{x.barangDibeli}}</td>
                <td>{{x.totalTransaksi}}</td>
                <td>{{x.tanggalBeli}}</td>
                <td>{{x.kuponDipakai}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}


{% endblock %}