{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'kategori.css' %}">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Pacifico|Permanent+Marker&display=swap" rel="stylesheet">
{% endblock %}
{% block main_content %}
<h1 class="title" style="border: 50px;">{{kategori}}</h1>

{% if jumlah != 0 %}
    <div class = "d-flex justify-content-center" style="margin: 5%; ">
        {% for i in isi %}
        <div class="col-md-4">
            
            <h1>
                <a href="/item/{{i.id}}" class="button"> {{ i.nama }} </a>
            </h1>
            
        </div>
        {% endfor %}
    </div>
    
{% else %}
    <h1 class="ohno" style="margin: 50px;">Empty :(</h1>
{% endif %}

{% endblock %}