{% extends "base.html" %}

{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'kategori.css' %}">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Pacifico|Permanent+Marker&display=swap" rel="stylesheet">
{% endblock %}

{% block main_content %}


<div class = "d-flex justify-content-center" style="margin: 5%;">
    <div class="row" style="width: 50%;">
        {% for i in kategoris %}
        <div class="col-md-4">
            <h1>
                <a href="{{ i.nama }}" class="button"> {{ i.nama }} </a>
            </h1>
        </div>
        {% endfor %}
    </div>
</div>

    
{% endblock %}