html {
    font-family: Calibri;
}

.main-content {
    padding-top: 5vh;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-bottom: 5vh;
    min-height: 70vh;
}

.footer {
    height: 21.5vh;
}

hr {
    height: 5px;
    background:  #FFE03F;
}

.navbar {
    padding-left: 20vh;
    padding-right: 20vh;
}

.navbar-brand {
    color: #FFE03F !important;
}

.btn-outline-modified {
    color: white;
    border-color: #5C432C;
    background-color: #5C432C;
  }
  

 .navbar-collapse .btn:focus, .btn.focus {
    outline: 0;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(255, 51, 0, 0)
  }

  
  .navbar-collapse .btn:hover {
  color: white;
  text-decoration: none;
}

#tablehp {
  border: none;
}

.navbar-collapse .form-control{
  background-color: #EEEEEE;
  border-radius: 0;
}

.navbar-collapse .form-control:focus {
  color: #495057;
  background-color: #EEEEEE;
  border-color: #ced4da;
  outline: 0;
  box-shadow: none;
}

.navbar-collapse #auth {
  color: #5C432C;
}

.table-barang {
  background-color: #5C432C;
}

.table-barang a {
  color: white;
  text-decoration: none;
}