@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
body {
    margin: 0;
    padding: 0;
}

.left-side ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.left-side  ul li {
    float: left;
}

.left-side ul li a {
    width: 120px;
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: poppins;
    font-size: 20px;
    text-align: center;
}

.left-side ul li a:hover{
    text-decoration: underline;
}

.left-side .none-branding {
    margin-top: 11px;
}
.left-side .branding {
    font-family: 'Lobster',;
    margin-left: 50px;
    margin-right: 15px;
    margin-top: 3px;
    font-weight: 600;
    font-style: italic;
    color: yellow;
    
}
.left-side .branding:hover {
    background-color: white;
    border-radius: 0;
}
.right-side input,a {
    float: right;
    margin-top: 23px;
}

.search-txt {
    width: 450px;
    padding: 5px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 18px;
    text-align: left;
    margin: 15px;
    border-color: black;
}

.btn-srch {
    background-color: yellow  ;
    margin-right: 10px;
    border-radius: 50px;
}

.btn-login {
    background-color: green;
}


form #searchbar {
    background-color: black !important;
  }