{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-sm-12">
        <img class=" mb-5" src="{% static 'sepatu.jpg' %}" style="height: 200px; width: 300px;" alt="Sepatu">
        <img class="" src="{% static 'sepatulagi.png' %}" style="height: 200px; width: 300px;" alt="Sepatu">
    </div>
    <div class="col-lg-4 col-sm-12 mt-lg-0  mt-5" style="max-height: 60vh; overflow: auto;">
        <table class="table table-barang mb-5" style="text-align: center;">
            {% for x in barang %}
            <tr>
                <td>
                    <a href="{% url 'wening_barang:barang_detail' x.nama %}">{{x.nama}}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-lg-4 col-sm-12">
        <img src="{% static 'iklan.png' %}" style="height: 450px; width: 300px;" alt="Iklan">
    </div>
</div>
{% endblock %}